<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h4>記事一覧</h4>

        <!-- article foreach --> 
        <div class="card">
          <div class="card-header" style="background-color:#98fb98;">
            <h3 class="card-title">記事1</h3>
          </div>
          <div class="card-body">
           <p>記事の本文が入る</p>
          Tag:
          <!--- Tag foreach --->
          <a class="btn btn-primary btn-sm bg-white">tag1</a>
          <a class="btn btn-primary btn-sm bg-white">tag2</a>
          <!--- end Tag foreach --->
          </div>
        </div><br>


        <div class="card">
          <div class="card-header" style="background-color:#98fb98;">
            <h3 class="card-title">記事2</h3>
          </div>
          <div class="card-body">
           <p>記事の本文が入る</p>
            Tag:
          <!--- Tag foreach --->
          <a class="btn btn-primary btn-sm bg-white">tag1</a>
          <a class="btn btn-primary btn-sm bg-white">tag2</a>
          <!--- end Tag foreach --->
          </div>
        </div><br>


        <div class="card">
          <div class="card-header" style="background-color:#98fb98;">
            <h3 class="card-title">記事3</h3>
          </div>
          <div class="card-body">
           <p>記事の本文が入る</p>
          Tag:
          <!--- Tag foreach --->
          <a class="btn btn-primary btn-sm bg-white">tag1</a>
          <a class="btn btn-primary btn-sm bg-white">tag2</a>
          <!--- end Tag foreach --->
          </div>
        </div><br>

         <!-- end article foreach -->
      </div>


      <div class="col-md-6">
        <h4>Ranking</h4>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Ranking</h4> 
          </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width:60px">順位</th>
              <th>記事名</th>
            </tr>
          </thead>

          <!-- start ranking foreach -->          
          <tbody>
            <tr>
              <td>1.</td>
              <td>記事1</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>記事2</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>記事3</td>
            </tr>
            <tr>
              <td>4.</td>
              <td>記事4</td>
            </tr>
          </tbody>

          <!-- end ranking foreach -->
        </table>
      </div>
      
      </div>
    </div>
  </div>
</section>