<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h4>記事一覧</h4>

        <% @articles.each do | article | %>
          <div class="card">
            <div class="card-header" style="background-color:#98fb98;">
              <h3 class="card-title"><%= link_to(article.title,"article/#{article.id}/show") %></h3>
            </div>
            <div class="card-body">
             <p><%= article.body %></p>
            Tag:
            <% article.tags.each do | tag | %>
              <%= link_to(tag.name ,"", class: "btn btn-primary btn-sm") %>
            <% end %>
            </div>
          </div><br>
        <% end %>
      </div>

      <div class="col-md-6">
        <h4>Ranking</h4>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Ranking</h4> 
          </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width:60px">順位</th>
              <th>記事名</th>
            </tr>
          </thead>

          <!-- start ranking foreach -->          
          <tbody>
            <tr>
              <td>1.</td>
              <td>記事1</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>記事2</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>記事3</td>
            </tr>
            <tr>
              <td>4.</td>
              <td>記事4</td>
            </tr>
          </tbody>

          <!-- end ranking foreach -->
        </table>
      </div>
      
      </div>
    </div>
  </div>
</section>